.buttonActions:hover {
  background: rgba(255, 255, 255, 0.4) !important;
}

.buttonActions:active {
  background: rgba(255, 255, 255, 0.4) !important;
  border: 2px solid #0075e6 !important;
}

.wrapperActions:hover {
  border: 3px solid cadetblue !important;
}
